html {
    font-family: sans-serif;
  }

  /* Your CSS below here */

#box {
    width: 200px;
    height: 200px;
    border: #000000 2px solid;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 1.125rem; /* 1rem = 16px. 18/16 = 1.125 so 1.125rem = 18px */
}