/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-family: Verdana, sans-serif;
  font-size: 10px;
  line-height: 1.1rem;
  letter-spacing: 1px;
  word-spacing: 1px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

h1 {
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1px;
}

h2 {
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

p {
  font-size: 1rem;
}

a {
 font-size: 1rem;
  text-decoration: underline;
  color: #a66;
}

a:visited {
  color: rgb(250, 169, 169);
}

a:hover {
  color: #f00;
  text-decoration: none;
}

a:focus {
  color: rgb(151, 0, 0);
  text-decoration: none;
  outline: none;
}

a:active {
  color: rgb(255, 255, 255);
  background-color: #a66;
}

a[href^="http"]::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url(external-link-52.png);
  background-size: contain;
  
}

li {
  font-size: 1rem;
}

section h1 + p, section h2 + p {
  text-indent: 20px;
}